body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color:#8c8c8c;
}
h2{
  font-size: 30px;
  font-weight: 600;

}
h2,h3,h4{
  color:#444444;
}

/* common css */
.wrapper{
  overflow: hidden;
}
a:hover{
  text-decoration: none;
}
.sec-heading{
  text-align: center;
}
.sec-heading h2 span{
  color:#8dc44e;
}
.sec-heading .sub-title{
  font-size: 10px;
  text-transform: uppercase;
}
.about-content .sec-heading{
  text-align: left;
}
.bottom-border{
  position: relative;
  width: 40px;
  height: 3px;
  background: #8dc44e;
  margin: 0 auto;
  top: 7px;
}
.bottom-border::after{
  content: '';
  left: -10px;
  right: -10px;
  background: #e8e8e8;
  position: absolute;
  height: 1px;
  top:1px;
  z-index: -9;
}
.padding{
  padding:3px;
}
/* button */
.button{
  padding: 17px 30px;
  background: #4caf50;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  border-radius: 30px;
  color:#fff;
  border:1px solid #aeaeae;
  transition: .3s;
}
.button:hover{
  text-decoration: none;
  background: #fff;
  color: #4caf50;
}
.about-btn .button{
  background: #fff;
  color: #4caf50;
}
.about-btn .button:hover{
  background: #4caf50;
  color: #fff;
}

/* header area */
.top-content{
  display: flex;
  justify-content: space-between;
}
.top-bar{
  background: #343434;

}
.top-left ul,
.top-right ul{
  display: flex;
  margin: 0;
  padding: 0;
}
.top-left ul li,
.top-right ul li{
  list-style: none;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 13px;
}
.top-left ul li{
  margin-right: 25px;
}
.top-left ul li i{
  margin-right: 6px;
}
.top-right ul li a{
  color:#7d7d7d;
  margin-left: 15px;
}
.top-right ul li a:hover{
  color:#fff;
}
.header{
  position: fixed;
  top:0;
  width: 100%;
  z-index: 100;
  background: #fff;

}

.fixed .header{
  position: fixed;
  top:0;
  width: 100%;
  z-index: 100;
  margin-top: -50px;
  background: #fff;
}
.fixed .menu-area .navbar-light .navbar-nav li{
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu-area .navbar-light .navbar-nav li{
  margin-top: 25px;
  margin-bottom: 25px;
  transition: .6s
}
.menu-area .navbar-light .navbar-nav li a{
  color:#444444;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  margin-right: 15px;
  margin-left: 15px;
}
.menu-area .navbar-light .navbar-nav li.active a{
  color:#8bc34a;
}
.menu-area .navbar-light .navbar-nav li a:hover{
  color:#8bc34a;
}
/* slider area */
.slider{
  position: relative;
  padding-top: 150px;
}
.slider-item{
  position: relative;
  color:#fff;
  z-index: 0;
  text-align: center;
}
.slider-item img{
  width: 100%;
  height: auto;
}
.slider-item::after{
  content: "";
  position: absolute;
  background: rgba(0,0,0,.60);
  top:0;
  bottom:0;
  left:0;
  right:0;
  z-index: 1;
}
.slider-content{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}
.slider-content h2{
  color:#fff;
  text-transform: uppercase;
  font-size: 60px;
  margin-top: -17px;
}
.slider-content .para-1{
  font-size: 24px;
  font-weight: 300;
}
.slider-content .para-2{
  font-size: 16px;
  margin-top: 6px;
  margin-bottom: 54px;
}
.slider-button .button{
  margin-left: 15px;
  margin-right: 15px;
}
.slider .bullet{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  bottom:30px;
  left:0;
  right:0;
  justify-content: center;
  position: absolute;
  z-index: 3;
}
.slider .bullet li{
  width: 8px;
  height: 8px;
  margin-left: 5px;
  margin-right: 5px;
  background: #414141;
  border: 2px solid #414141;
}
.slider .bullet li.active{
  border: 2px solid #a6a6a6;
}
.slider-arrow .left-arrow,
.slider-arrow .right-arrow{
  position: absolute;
  top: 50%;
  font-size: 40px;
  transform: translateY(-50%);
}
.slider-arrow .left-arrow{
  left: 30px;
}
.slider-arrow .right-arrow{
  right:30px;
}
.slider-arrow .left-arrow a,
.slider-arrow .right-arrow a{
  color:#fff;
}
.slider-arrow .left-arrow a:hover,
.slider-arrow .right-arrow a:hover{
  color: #4caf50;
}
/* about */
.about{
  margin-top: -100px;
}
.about-content{
  padding-top: 100px;
height: calc(100% + 40px);
}
.about .abt-img{
  background: #4caf50;
}
.about .abt-img img{
  position: relative;
  max-width: 100%;
  top: 40px;
  left: 40px;
}
.about-content .abt-content p{
  margin-top: 30px;
  margin-bottom: 35px;
}
.about-content .main-content{
  position: relative;
  top:50%;
  transform: translateY(-50%);
}
.main-content{
  padding-left: 40px;
}

/* we do */
.we-do{
  background:  #fafafa;
  padding-top: 70px;
  margin-top: 40px;
}
.do-task{
  margin-top: 20px;
  margin-bottom: 20px;
}
.do-task .do-icon ion-icon{
  font-size: 40px;
  color:#444;
}
.do-task .do-heading h4{
  font-size: 18px;
  position: relative;
  padding-bottom: 10px;
}
.do-task .do-heading h4:after{
  content: "";
  position: absolute;
  width: 30px;
  height: 1px;
  background:  #808080;
  bottom: 0;
  left:0;
}
.we-do .we-img img{
  max-width: 140%;
  margin-bottom: -35%;
}
.do-content{}

  /* work */
  .work{
    padding-top: 80px;
  }
  .work-list{
    margin-top: 80px;
  }
  .work-list ul{
    margin:0;
    padding:0;
    list-style: none;
    display: flex;
    justify-content:center;
    margin-bottom: 10px;
  }
  .work-list ul li{
    padding: 8px;
    font-size: 13px;
    color: #444444;
    position: relative;
    cursor: pointer;
  }
  .work-list ul li.mixitup-control-active{
    color:#4caf50;
  }
  .work-list ul li:after{
    content: "";
    position: absolute;
    width: 1px;
    height: 13px;
    background: #444444;
    right: 0;
    top: 12px;
  }
  .work-list ul li:last-child::after{
    width:0;
  }
  .work-item{
    position: relative;
  }
  .work-hover{
    position: absolute;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(76,173,79,.90);
    text-align: center;
    transform: scale(0);
    transition: .30s;
  }
  .work-item:hover .work-hover{
    transform: scale(1);
  }
  .work-hover span{
    font-size: 60px;
    color: #ffffff;
    display: inline-block;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
  }
  .work-item img{
    width: 100%;
    display: block;
  }

  /* info */
  .info-tab{
    margin-top: 75px;

  }
 .tab-list{
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }
  ul.tab-item{
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
  }
  ul.tab-item li{
    flex-grow: 1;
  }

  ul.tab-item li a{
    color: #444444;
    display: block;
    font-size: 18px;
    padding: 35px;

  }
  ul.tab-item li a.active{
    background: #f7f7f7;
    border-bottom: 3px solid #4caf50;
  }
  ul.tab-item li a i{
    margin-right: 10px;
  }
  .our-tab-content{
    padding-top: 100px;
    padding-bottom: 100px;
    background: #f7f7f7;
  }
  .our-tab-content img{
    width: 100%;
  }
  .our-tab-content h3{
    margin-bottom: 25px;
  }

  /* banner area */
  .banner{
    background: url(../images/1.jpg);
    text-align: center;
    border-bottom: 7px solid #4caf50;
    position: relative;
    background-attachment: fixed;
  }
  .banner::before{
    content: "";
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    background: rgba(0,0,0,.8);
  }
  .banner .button{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 30px 100px;
    border-radius: 50px;
  }
  .banner-content{
    padding-top: 125px;
    padding-bottom: 125px;
    position: relative;
  }
  .banner-content .banner-button{
    position: absolute;
    left: 50%;
    transform: translate(-50%,50%);
    bottom: 0;
  }
  .banner-content h2{
    color:#fff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
  }

  /* team area */
  .team{
    padding-top: 100px;
    overflow: hidden;
  }
  .team img{
    width: 100%;
    height: auto;
  }
  .member h4{
    color:#fff;
    font-size: 21px;
  }
  .team .sec-heading{
    margin-bottom: 80px;
  }
  .member{
    position: relative;
    text-align: center;
    color:#fff;
  }
  .member-content{
    position: absolute;
    top: 50%;
  }
  .member:hover .member-content{
    transform: translateY(-50%);
  }
  .member-item{
    position: absolute;
    top:100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.9);
    transition: .60s;
  }
  .member:hover .member-item{
    top:0;
  }
  .social{
    background: #4caf50;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -52px;
    transition: .60s;
  }
  .member:hover .social{
    bottom:0;
  }
  .social ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  .social ul li a{
    display: inline-block;
    padding: 15px 10px;
    color: #ffffff;
  }
  .social ul li a i{
    transition: .50s;
  }
  .social ul li a:hover i{
    transform: rotate(360deg);
  }

  /* blog area */
  .blog .sec-heading{
    margin-top: 70px;
    margin-bottom: 70px;
  }
  .blog img{
    width: 100%;
  }
  .img-content{
    position: relative;
  }
  .blog-item{
    position: relative;
    margin-bottom: 30px;
  }
  .date-month{
    position: absolute;
    background: #8bc34a;
    left: 15px;
    bottom: 15px;
    padding: 15px;
    color: #ffffff;
    box-shadow: 10px 10px #6f9c3b;
  }
  .date{
    font-size: 24px;
  }
  .month{
    font-size: 13px;
  }
  .blog-title{
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .author a{
    color: #a6d07b;
  }
  .blog-title h2{
    font-size: 20px;
  }
  .blog-right .blog-title{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e6e6e6;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
  }
  .blog-title .author{
    font-size: 10px;
  }

  /* brand logo */
  .brand{
    border-top: 2px solid #ededed;
    background: #fafafa;
    text-align: center;


  }
  .owl-carousel .brand-item{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;

  }
  .owl-carousel .brand-item img{
    width: auto;
    display: block;
  }
  /* footer */
  .footer{
    background: #262626;
  }
  .footer .widget{
    padding-top: 70px;
  }
  .social-widget ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .social-widget ul li a{
    color: #6b6b6b;
    display: inline-block;
    padding: 10px;
  }
  .social-widget ul li a i{
    transition: .3s;
  }
  .social-widget ul li a:hover i{
    transform: rotate(360deg);
  }
  .social-widget ul li a:hover{
    color: #fff;
  }
  .footer .widget1{
    padding: 100px 0;
    position: relative;
    background: #303030;
  }
  .widget1::before{
    content: "";
    position: absolute;
    left: -5000px;
    right: 100%;
    top: 0;
    bottom: 0;
    background: #303030;

  }
  .widget1 .social-widget{
    margin-top: 20px;
  }
  .widget .title h4{
    font-size: 18px;
    color: #6b6b6b;
    font-size: 500;
    margin-bottom: 20px;
  }
  .widget .content{
    color: #6b6b6b;
  }
  .twit ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .twit ul li{
    margin-bottom: 15px;
  }
  .twit ul li i{
    float: left;
    padding-top: 5px;
  }
  .twit ul li a{
    padding-left: 25px;
    display: block;
    color: #6b6b6b;

  }
  .subscriber input{
    display: block;
    width: 100%;
    background: #262626;
    border: 1px solid #6b6b6b;
    height: 35px;
    border-radius: 30px;
    padding: 0 40px 0 15px;
    color: #6b6b6b;
  }
  .subscriber{
    position: relative;
    margin-top: 40px;
  }
  .subscriber::after{
    content: "\f3fe";
    font-family: "Font Awesome 5 brands";
    font-weight: 700;
    position: absolute;
    top: 8px;
    right: 19px;
    pointer-events: none;
  }
  .submit{
    position: absolute;
    width: 50px;
    top: 0;
    bottom: 0;
    right:0;
  }
  .submit input{
    border: 0;
    font-size: 0;
    background: transparent;
  }
  .footer-bottom{
    background: #1c1c1c;
    padding: 30px 0;
    text-align: center;
  }
  .footer-bottom span{
    color: #4caf50;
  }
  .footer-bottom p{
    margin: 0;
  }

  /* scroller */
  .top{
    width: 50px;
    height: 70px;
    background: #212121;
    text-align: center;
    font-size: 40px;
    line-height: 2;
    position: fixed;
    right: 130px;
    bottom: 25px;
    border-radius: 5px;
  }
  .top a{
    color:#fff;
      }


 @media(max-width:1240px){
   .about{
     margin-top: 0;
   }
 }
 @media(max-width:1129px){
   .slider-content .para-1{
     font-size: 23px;
   }
   .slider-content h2{
     font-size: 40px;
   }
   .slider-content .para-2{
     margin-bottom: 30px;
   }
 }
  @media(max-width:992px){
    .top-content{
      display: block;
    }
    .slider-content .para-1{
      font-size: 16px;
    }
    .slider-content .para-2{
      margin-bottom: 15px;
      font-size: 12px;
    }
    .slider-content h2{
      font-size: 30px;
    }

    .top-content .top-left{
      display: flex;
      justify-content: center;
    }
    .top-content .top-right{
      display: flex;
      justify-content: center;
    }
  }
  @media(max-width:768px){
    .top-left ul{
      display: block;
      text-align: center;
    }
    .fixed .header{
      margin-top: -200px;
    }
    .fixed .header.top-bar {
    height: 0;
    }
    .navbar{
      padding: 0.5rem 1rem;
    }
    .slider{
      padding-top: 230px;
    }
    .slider .bullet{
      bottom: 11px;
    }
    .slider-button .button{
      padding: 5px 10px;
      font-size: 11px;
    }
    .slider-content .para-1{
      font-size: 12px;
    }
    .slider-content .para-2{
      margin-bottom: 9px;
      font-size: 12px;
    }
    .slider-content h2{
      font-size: 17px;
    }
    .about{
      margin-top: 0;
    }
    .work{
      margin-top: 120px;
    }
    .subscriber{
      margin-bottom: 40px;
    }
    .top{
      right: 62px;
      bottom: 40px;
    }
  }
  @media(max-width:556px){
    .slider{
      display: none;
    }
    .subscriber{
      margin-bottom: 40px;
    }
    .about {
      margin-top: 260px;
    }
    .top{
      bottom: 60px;
      width: 43px;
      height: 50px;
      font-size: 26px;
    }
  }
